Agregamos primero las librerias con las que vamos a trabajar.

In [1]:
import requests
import json
import pandas as pd
#warnings.filterwarning('ignore') Hacemos esto para omitir los warnings

Asignamos a la variable url la url de la api donde estan nuestros resultados de la carrera de 2022

In [2]:
url='https://ergast.com/api/f1/2022/22/results.json'

Despues asignamos a la variable response, le pedimos que obtenga los datos que le estamos pidiendo de la url

In [3]:
response=requests.get(url)

Con el atributo content podemos observar lo que contiene response

In [4]:
r=response.content

Pero para que no se vea asi le damos el formato de json para que quede como diccionario

In [5]:
content=json.loads(response.content)

Haremos un for para tener las carreras del 2022. Lo que tiene que cambiar es el url donde pide.
Nota.
Ponemos {} para se√±alar que es una variable aleaotoria y va cambiando.

In [27]:
df_results_2022=pd.DataFrame()
x=pd.DataFrame()
for race in  list(range(1,23)): 
    url='https://ergast.com/api/f1/2022/{}/results.json'
    response=requests.get(url. format(race))# Aplicamos la funcion format que indica que es lo que va cambiando lo que es race
    #Al final solo amos a ver el ultimo elemento que  se consulta
    content=json.loads(response.content)
    #Por eso vamos agregando data frame con data frame.
    #df_results_2022=df_results_2022.append(pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))
    
    df_results_2022=pd.concat([df_results_2022,pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results']))

In [28]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [29]:
 df_results_2022['Driver']= df_results_2022['Driver'].apply(lambda x:x['driverId'])

In [30]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,"{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,"{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,"{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,"{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,"{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,"{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,"{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,"{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [31]:
 df_results_2022['Constructor']= df_results_2022['Constructor'].apply(lambda x:x['constructorId'])

In [32]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

Ahora queremos sumar los puntos de cada piloto para esto usaremos el metodo groupby de pandas.

In [53]:
df_results_2022.groupby(['position'])

In [ ]:
Convertimos los puntos de la columna points en datos numericos

In [55]:
df_results_2022['points']=df_results_2022.points.astype(int)

In [61]:
df_results_2022.groupby(['position']).agg({'points':'sum'}).sort_values(by='points',ascending=False)

          points
position
1            557
2            402
3            331
4            265
5            222
6            179
7            132
8             88
9             44
10            22
18             0
17             0
20             0
16             0
15             0
14             0
13             0
12             0
11             0
19             0

In [57]:
 df_results_2022

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,leclerc,ferrari,1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,sainz,ferrari,3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,russell,mercedes,9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,kevin_magnussen,haas,7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
...,...,...,...,...,...,...,...,...,...,...,...
15,47,16,16,0,mick_schumacher,haas,12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,kevin_magnussen,haas,16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,latifi,williams,20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,alonso,alpine,10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."

In [35]:
 df_results_2022[ df_results_2022.Driver=="hamilton"]

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
2,44,3,3,15,hamilton,mercedes,5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
9,44,10,10,1,hamilton,mercedes,15,50,Finished,"{'millis': '5133241', 'time': '+1:13.948'}","{'rank': '8', 'lap': '47', 'Time': {'time': '1..."
3,44,4,4,12,hamilton,mercedes,5,58,Finished,"{'millis': '5295091', 'time': '+28.543'}","{'rank': '7', 'lap': '51', 'Time': {'time': '1..."
12,44,13,13,0,hamilton,mercedes,14,62,+1 Lap,NaN,"{'rank': '13', 'lap': '50', 'Time': {'time': '..."
5,44,6,6,8,hamilton,mercedes,6,57,Finished,"{'millis': '5685626', 'time': '+21.368'}","{'rank': '7', 'lap': '55', 'Time': {'time': '1..."
4,44,5,5,10,hamilton,mercedes,6,66,Finished,"{'millis': '5895009', 'time': '+54.534'}","{'rank': '2', 'lap': '51', 'Time': {'time': '1..."
7,44,8,8,4,hamilton,mercedes,8,64,Finished,"{'millis': '7040653', 'time': '+50.388'}","{'rank': '9', 'lap': '51', 'Time': {'time': '1..."
3,44,4,4,12,hamilton,mercedes,7,51,Finished,"{'millis': '5717620', 'time': '+1:11.679'}","{'rank': '3', 'lap': '39', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,4,70,Finished,"{'millis': '5788763', 'time': '+7.006'}","{'rank': '4', 'lap': '69', 'Time': {'time': '1..."
2,44,3,3,16,hamilton,mercedes,5,52,Finished,"{'millis': '8276536', 'time': '+6.225'}","{'rank': '1', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,hamilton,mercedes,8,71,Finished,"{'millis': '5105529', 'time': '+41.217'}","{'rank': '5', 'lap': '63', 'Time': {'time': '1..."
1,44,2,2,18,hamilton,mercedes,4,53,Finished,"{'millis': '5412699', 'time': '+10.587'}","{'rank': '4', 'lap': '30', 'Time': {'time': '1..."
1,44,2,2,19,hamilton,mercedes,7,70,Finished,"{'millis': '5983746', 'time': '+7.834'}","{'rank': '1', 'lap': '57', 'Time': {'time': '1..."
19,44,20,R,0,hamilton,mercedes,4,0,Collision damage,NaN,NaN
3,44,4,4,12,hamilton,mercedes,4,72,Finished,"{'millis': '5815789', 'time': '+13.016'}","{'rank': '3', 'lap': '54', 'Time': {'time': '1..."
4,44,5,5,10,hamilton,mercedes,19,53,Finished,"{'millis': '4832891', 'time': '+5.380'}","{'rank': '3', 'lap': '43', 'Time': {'time': '1..."
8,44,9,9,2,hamilton,mercedes,3,59,Finished,"{'millis': '7401753', 'time': '+1:01.515'}","{'rank': '10', 'lap': '58', 'Time': {'time': '..."
4,44,5,5,10,hamilton,mercedes,6,28,Finished,"{'millis': '10944330', 'time': '+40.326'}","{'rank': '7', 'lap': '11', 'Time': {'time': '1..."
1,44,2,2,18,hamilton,mercedes,3,56,Finished,"{'millis': '6136710', 'time': '+5.023'}","{'rank': '5', 'lap': '45', 'Time': {'time': '1..."
1,44,2,2,18,hamilton,mercedes,3,71,Finished,"{'millis': '5931915', 'time': '+15.186'}","{'rank': '5', 'lap': '32', 'Time': {'time': '1..."
1,44,2,2,18,hamilton,mercedes,2,71,Finished,"{'millis': '5915573', 'time': '+1.529'}","{'rank': '2', 'lap': '63', 'Time': {'time': '1..."
17,44,18,18,0,hamilton,mercedes,5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."

EJEMPLOS

In [ ]:
pd.DataFrame(content['MRData']['RaceTable']['Races'][0]['Results'])

In [40]:
dicc=content['MRData']['RaceTable']['Races'][0]['Results']

In [42]:
type(dicc)

list

In [44]:
df=pd.DataFrame(dicc)

In [60]:
df1=pd.DataFrame(dicc)

In [55]:
df['Driver'][0]['driverId']

'max_verstappen'

In [56]:
df['Driver']=df['Driver'].apply(lambda x:x['driverId'])

In [58]:
df['Constructor']=df['Constructor'].apply(lambda x:x['constructorId'])

In [64]:
df1

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,1,1,1,25,"{'driverId': 'max_verstappen', 'permanentNumbe...","{'constructorId': 'red_bull', 'url': 'http://e...",1,58,Finished,"{'millis': '5265914', 'time': '1:27:45.914'}","{'rank': '6', 'lap': '54', 'Time': {'time': '1..."
1,16,2,2,18,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",3,58,Finished,"{'millis': '5274685', 'time': '+8.771'}","{'rank': '10', 'lap': '48', 'Time': {'time': '..."
2,11,3,3,15,"{'driverId': 'perez', 'permanentNumber': '11',...","{'constructorId': 'red_bull', 'url': 'http://e...",2,58,Finished,"{'millis': '5276007', 'time': '+10.093'}","{'rank': '4', 'lap': '52', 'Time': {'time': '1..."
3,55,4,4,12,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",4,58,Finished,"{'millis': '5290806', 'time': '+24.892'}","{'rank': '3', 'lap': '50', 'Time': {'time': '1..."
4,63,5,5,10,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",6,58,Finished,"{'millis': '5301802', 'time': '+35.888'}","{'rank': '2', 'lap': '48', 'Time': {'time': '1..."
5,4,6,6,9,"{'driverId': 'norris', 'permanentNumber': '4',...","{'constructorId': 'mclaren', 'url': 'http://en...",7,58,Finished,"{'millis': '5322148', 'time': '+56.234'}","{'rank': '1', 'lap': '44', 'Time': {'time': '1..."
6,31,7,7,6,"{'driverId': 'ocon', 'permanentNumber': '31', ...","{'constructorId': 'alpine', 'url': 'http://en....",8,58,Finished,"{'millis': '5323154', 'time': '+57.240'}","{'rank': '5', 'lap': '45', 'Time': {'time': '1..."
7,18,8,8,4,"{'driverId': 'stroll', 'permanentNumber': '18'...","{'constructorId': 'aston_martin', 'url': 'http...",14,58,Finished,"{'millis': '5342845', 'time': '+1:16.931'}","{'rank': '9', 'lap': '42', 'Time': {'time': '1..."
8,3,9,9,2,"{'driverId': 'ricciardo', 'permanentNumber': '...","{'constructorId': 'mclaren', 'url': 'http://en...",13,58,Finished,"{'millis': '5349182', 'time': '+1:23.268'}","{'rank': '18', 'lap': '45', 'Time': {'time': '..."
9,5,10,10,1,"{'driverId': 'vettel', 'permanentNumber': '5',...","{'constructorId': 'aston_martin', 'url': 'http...",9,58,Finished,"{'millis': '5349812', 'time': '+1:23.898'}","{'rank': '15', 'lap': '35', 'Time': {'time': '..."
10,22,11,11,0,"{'driverId': 'tsunoda', 'permanentNumber': '22...","{'constructorId': 'alphatauri', 'url': 'http:/...",11,58,Finished,"{'millis': '5355285', 'time': '+1:29.371'}","{'rank': '7', 'lap': '40', 'Time': {'time': '1..."
11,24,12,12,0,"{'driverId': 'zhou', 'permanentNumber': '24', ...","{'constructorId': 'alfa', 'url': 'http://en.wi...",15,57,+1 Lap,NaN,"{'rank': '8', 'lap': '53', 'Time': {'time': '1..."
12,23,13,13,0,"{'driverId': 'albon', 'permanentNumber': '23',...","{'constructorId': 'williams', 'url': 'http://e...",19,57,+1 Lap,NaN,"{'rank': '13', 'lap': '40', 'Time': {'time': '..."
13,10,14,14,0,"{'driverId': 'gasly', 'permanentNumber': '10',...","{'constructorId': 'alphatauri', 'url': 'http:/...",17,57,+1 Lap,NaN,"{'rank': '19', 'lap': '16', 'Time': {'time': '..."
14,77,15,15,0,"{'driverId': 'bottas', 'permanentNumber': '77'...","{'constructorId': 'alfa', 'url': 'http://en.wi...",18,57,+1 Lap,NaN,"{'rank': '16', 'lap': '47', 'Time': {'time': '..."
15,47,16,16,0,"{'driverId': 'mick_schumacher', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",12,57,+1 Lap,NaN,"{'rank': '12', 'lap': '39', 'Time': {'time': '..."
16,20,17,17,0,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",16,57,+1 Lap,NaN,"{'rank': '20', 'lap': '40', 'Time': {'time': '..."
17,44,18,18,0,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,55,Hydraulics,NaN,"{'rank': '11', 'lap': '42', 'Time': {'time': '..."
18,6,19,19,0,"{'driverId': 'latifi', 'permanentNumber': '6',...","{'constructorId': 'williams', 'url': 'http://e...",20,55,Collision damage,NaN,"{'rank': '14', 'lap': '45', 'Time': {'time': '..."
19,14,20,R,0,"{'driverId': 'alonso', 'permanentNumber': '14'...","{'constructorId': 'alpine', 'url': 'http://en....",10,27,Water leak,NaN,"{'rank': '17', 'lap': '24', 'Time': {'time': '..."